<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
	charset="ISO-8859-1">
<title>Client List</title>
</head>
<body>
	<div>
		<form action="#" th:action="@{/searchclient}" method="get">
			<input type="text" name="name" th:value="${name}" placeholder="Search by Name" >
			<input type="submit" value="search">
		</form>
	</div>
	<div th:switch="${clients}">
		<h2 th:case="null">No clients yet!</h2>
		<div th:case="*">
			<h2>Clients</h2>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>surname 1</th>
						<th>surname 2</th>
						<th>DNI</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="client : ${clients}">
						<td th:text="${client.name}"></td>
						<td th:text="${client.firstSurname}"></td>
						<td th:text="${client.secondSurname}"></td>
						<td th:text="${client.dni}"></td>
						<td><a th:href="@{/edit/{id}(id=${client.id})}">Edit</a></td>
						<td><a th:href="@{/delete/{id}(id=${client.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/signup">Add a new Client</a>
		</p>
	</div>
</body>
</html>